.promo {
  position: relative;
  height: 568px;
  background: linear-gradient(249.26deg, #0037AE 0%, #02143B 100%);
  border-radius: 0px 0px 100px 0px;
  width: 100%;
  margin-top: -48px;
  overflow: hidden;
}

.promo__logo {
  width: 280px;
  display: block;
  height: auto;
  margin: 187px auto 13px;
  z-index: 5;
  position: relative;
}

.promo h1:before {
  position: absolute;
  content: "";
  width: 1607px;
  height: 1056px;
  background: url(../../../assets/img/backgrounds/bg_grid.svg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.promo h1 {
  width: 290px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  color: var(--white);
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.promo .promo__design_1 {
  position: absolute;
  z-index: 1;
  width: 236px;
  height: 233px;
  top: 100%;
  right: 100%;
  transform: translate(236px, -231px);
}

.promo .promo__design_2 {
  position: absolute;
  width: 216px;
  height: 228px;
  bottom: 0;
  right: 0;
}

.promo .promo__design_3, .promo .promo__design_4 {
  display: none;
}

.promo .promo__design_1 {
  transform: translate(186px, -233px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.promo .promo__design_1._active {
  transform: translate(236px, -233px);
  opacity: 1;
}

.promo .promo__design_2 {
  transform: translate(50px, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.promo .promo__design_2._active {
  transform: translate(0, 0);
  opacity: 1;
}