@media (min-width: 1200px) {
    .footer {
        background: var(--graphit_imaris);
        padding: 40px 14px 62px;
    }
    .footer_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .footer__nav__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 1653px;
        padding-top: 18px;
    }
    .footer__nav__menu li:after {
        display: none;
    }
    .footer__nav__menu a {
        font-size: 24px;
        line-height: 28px;
    }
    .copyright {
        order: -1;
        padding-top: 50px;
        padding-left: 43px;
    }
    .text_copyright {
        font-size: 20px;
        line-height: 28px;
    }
    .text_footer {
        font-size: 20px;
        line-height: 28px;
    }
    .footer__social {
        margin-right: 42px;
        margin-top: 10px;
    }
    .footer__social a {
        width: 64px;
        height: 64px;
    }
    .footer__social span {
        font-size: 64px;
        line-height: 64px;
    }
    .footer__nav__menu__services {
        display: block;
    }
    .footer__nav__menu li {
        max-width: 240px;
        margin-bottom: 0px;
    }
    .footer__nav__menu li:first-child:before {
        display: none;
    }
    .footer__nav__menu>li:first-child {
        margin-left: 16px;
    }
    .footer_flex_container {
        justify-content: space-between;
        width: 418px;
    }
}